
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>

    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>


    <title>비밀번호 찾기</title>
</head>
<style>
  html,body {
        width: 100%;
        height: 100%;
        margin: 0;
  }
  .container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
   }




</style>

<body>
<div layout:fragment="content">

    <div class="mb-32"></div>

    <div class="container flex justify-center mx-auto">




        <div id="find-content" class="join-form border p-20 rounded-lg shadow-md">

            <div class="login-title text-2xl flex justify-center mb-12">
                <span> 비밀번호 찾기 </span>
            </div>

            <form action="" id="findForm" method="POST">

                <div class="flex justify-center">
                    <div class="flex-col">
                        <div class="form-item mb-4">
                            <input class="border rounded p-1 rounded bg-gray-50" id="loginId" type="text" name="loginId"  placeholder="아이디" autocomplete="off" required>
                        </div>

                        <div class="form-item mb-4">
                            <input class="border rounded p-1 rounded bg-gray-50" id="email" type="email" name="email"  placeholder="이메일" autocomplete="off" required>
                        </div>
                        <div class="form-item flex justify-center mt-12">
                            <button class="mr-4 border bg-gray-500 p-1 rounded text-white">
                                확인
                            </button>
                            <a href="/">
                                <button type="button" class="border bg-blue-500 p-1 rounded text-white">취소</button>
                            </a>
                        </div>
                    </div>
                </div>
            </form>


        </div>
        <div class="text-center" id="progress">
            <i class="fas fa-spinner fa-3x fa-spin"></i>
        </div>




    </div>
    <script src="/js/findPw.js"></script>  <!-- 위의 폼 태그로 부터 정보를 다 받은 후에 js를 불러야 하므로 body 안에 넣은거임 -->
</div>

</body>
</html>