<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1'>


    <title>게시글 상세보기</title>
    <link rel='stylesheet' href='/webjars/bootstrap/4.5.0/css/bootstrap.min.css'>
    <!-- 토스트 UI 에디터, 자바스크립트 코어 -->



    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.min.css"/>
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />


    <style>


        .btn{
            position:absolute;
            bottom:7%;
            right:4%;

        }

    </style>


</head>
<body>

<div layout:fragment="content">

    <div class="container mx-auto">

        <div class="content">

            <div class="title-container mb-12">
                <nav class="flex mt-8" aria-label="Breadcrumb">
                    <ol class="inline-flex items-center space-x-1 md:space-x-3">
                        <li class="inline-flex items-center">
                            <a th:href="@{~/}" class="inline-flex items-center text-xl font-medium text-gray-700 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">
                                <svg class="mr-2 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path></svg>
                                Home
                            </a>
                        </li>

                        <li aria-current="page">
                            <div class="flex items-center">
                                <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                                <a th:href="@{~/boards/} + ${articleDTO.boardId}" class="ml-1 text-xl font-medium text-gray-400 md:ml-2 dark:text-gray-500" th:text="${articleDTO.boardName}">Flowbite</a>
                            </div>
                        </li>
                    </ol>
                </nav>
            </div>

            <div class="sub-container flex flex-col ml-6">

                <div class="sub-title flex">
                    <span class="text-2xl font-bold" th:text="${articleDTO.title}"></span>
                </div>

                <div class="sub-subtitle flex justify-between mt-8">


                    <span class="text-xl " th:text="${articleDTO.memberNickName}"></span>
                    <span class="text-xl mr-8" th:text="${#temporals.format(articleDTO.regDate, 'yyyy-MM-dd')}"></span>

                </div>

            </div>

            <hr class="my-4">

            <div th:if="${#authentication.name.equals(articleDTO.memberLoginId)}" class="btn-container flex justify-end">

                <a th:href="@{~/articles/} + ${articleDTO.id}+@{/modify}" class="mx-2">
                    <button type="button" class="py-2 px-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">수정</button>
                </a>

                <a th:href="@{~/articles/} + ${articleDTO.id}+@{/delete}" class="mx-2">
                    <button type="button" class="py-2 px-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">삭제</button>
                </a>

            </div>


            <div class="body-container">

                <div class="body-content ml-24">



                    <div id="editor" ></div>

                </div>

                <div class="files" >
                    <span class="ml-4 ">파일: </span>

                    <th:block th:each="file:${listFile}">
                        <a class="underline"  th:href="@{~/download/}+${file.id}">
                            <span th:text="${file.name}"></span>
                        </a>
                        <span>,</span>
                    </th:block>


                </div>






            </div>

            <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>


            <script>

                function EditorViewer1__init() {
                    var viewer = new toastui.Editor.factory({
                    el: document.querySelector('#editor'),
                    initialValue: `[[${body}]]`,
                    viewer:true
                });




                }

                 EditorViewer1__init();

</script>



        </div>



    </div>
















</div>

</body>

</html>