<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>회원정보 수정</title>



</head>


<body>
<div layout:fragment="content">

    <form th:action="@{~/articles/modify/}+${id}" th:object="${articleModifyForm}" method="POST" enctype="multipart/form-data">

        <div class="form-item">
            <div class="mb-6">
                <label for="base-input" class="block mb-2 text-xl font-medium text-gray-900 dark:text-gray-300">제목</label>
                <input type="text" th:field="*{title}" th:errorclass="field-error" id="base-input" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="제목을 입력해 주세요." required>
            </div>
            <span th:errors="*{title}"></span>
        </div>

        <div class="form-item">
            <label for="message" class="block mb-2 text-xl font-medium text-gray-900 dark:text-gray-400">내용</label>
            <textarea  cols="30" rows="10" th:field="*{body}" th:errorclass="field-error" id="message" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="내용을 입력해 주세요." style="white-space:pre-wrap" required ></textarea>
            <span th:errors="*{body}"></span>

        </div>

        <div class="form-item">

            <div class="ml-4">Upload your file:</div>
            <p>
                <input class="ml-4" type="file" name="file" >



                <th:block th:if="${fileList.size() !=0}">
                            <span>기존 업로드된 파일: </span>
                            <th:block th:each="file:${fileList}">
                                <a class="underline"  th:href="@{~/download/}+${file.id}">
                                    <span th:text="${file.name}"></span>

                                </a>
                                <span>&nbsp</span>

                            </th:block>
                </th:block>


            </p>

        </div>

        <div class="form-item flex justify-end mt-6">
            <div class="">
                <button  class="py-2 px-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">작성</button>
            </div>
            <a th:href="@{~/articles/}+${id}" class="mx-2">
                <button type="button" class="py-2 px-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">취소</button>
            </a>
        </div>


    </form>

</div>
</body>
</html>