<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@1.24.3/dist/full.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2/dist/tailwind.min.css" rel="stylesheet" type="text/css" />

    <style>


    </style>
</head>
<footer th:fragment="footerFragment" class="p-4 bg-white rounded-lg md:flex md:items-center md:justify-between md:p-6">
    <span class="text-sm text-grey-500 sm:text-center">
        ©️2022<a href="/" class="hover:underline"> GROW</a> . All Rights Reserved.
    </span>
</footer>
</html>