<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>회원 세부정보</title>
    <style>
      bold{
        font-weight: bold;
      }

  </style>


</head>
<body>
<div layout:fragment="content">
    <div class="">
        <table>
            <thead>
            <tr>
                <th>아이디</th>
                <th>닉네임</th>
                <th>가입일</th>
            </tr>
            </thead>
            <tbody>
            <td th:text="${member.loginId}">1</td>
            <td th:text="${member.nickName}"></td>
            <td th:text="${#temporals.format(member.regDate,'yyyy-MM-dd')}"></td>
            </tbody>
        </table>

        <hr>
        <h2>작성한 게시물</h2>
        <table>
            <thead>
            <tr>
                <th>게시물 번호</th>
                <th>게시물 제목</th>
                <th>작성자 </th>
                <th>게시물 작성일</th>

            </tr>
            </thead>

            <tbody>
            <tr th:each="article:${member.articleList}">
                <td th:text="${article.id}"></td>
                <td>
                    <a th:href="@{~/articles/} + ${article.id}">
                        <span th:text="${article.title}"></span>
                    </a>
                </td>
                <td th:text="${article.memberNickName}"></td>
                <td th:text="${#temporals.format(article.regDate,'yyyy-MM-dd')}"></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
</body>
</html>