<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
  <meta charset="UTF-8">
  <title>게시판 세부정보</title>
</head>
<body>
<div layout:fragment="content">

  <div class="mb-32"></div>

  <div class="container flex justify-center mx-auto">

    <div class="join-form border p-20 rounded-lg shadow-md">

      <div class="login-title text-2xl flex justify-center mb-12">
        <span>
          기준 회원 등급에 충족되지 않아 접근이 거부되었습니다.

        </span>
      </div>
    </div>

  </div>
</div>

</body>
</html>