<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>게시판 세부정보</title>
</head>
<body>
<div layout:fragment="content">
        <div class="">
            <span th:text="${board.name}"></span>

            <a th:href="@{~/boards/}+${board.id}+@{/articles/add}">

                <span>게시글 작성</span>
            </a>

        </div>

</div>
</body>
</html>